In [1]:
import pandas as pd
import datetime as dt

## Review of python's datetime module

In [3]:
someday = dt.date(2010, 1, 10)

In [8]:
someday.year
someday.month
someday.day

10

In [12]:
str(dt.datetime(2010, 1, 10, 17, 24, 54))

'2010-01-10 17:24:54'

In [13]:
sometime = dt.datetime(2010, 1, 10, 17, 24, 54)

In [16]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

54

## The pandas timestamp object

In [21]:
pd.Timestamp(2015-3-31)
pd.Timestamp(2015/3/31)
pd.Timestamp(2015,3,31)
pd.Timestamp(1/1/2016)
pd.Timestamp(2015-3-31)

Timestamp('1970-01-01 00:00:00.000001981')

## The pandas DateTimeIndex object

In [24]:
dates = ['2015-1-6','2015-5-6','2015-2-2']
pd.DatetimeIndex(dates)

DatetimeIndex(['2015-01-06', '2015-05-06', '2015-02-02'], dtype='datetime64[ns]', freq=None)

In [29]:
dates = [dt.date(2015, 1, 10),dt.date(2015, 5, 6), dt.date(2015, 2, 2)]
pd.DatetimeIndex(dates)

DatetimeIndex(['2015-01-10', '2015-05-06', '2015-02-02'], dtype='datetime64[ns]', freq=None)

In [31]:
values= [100,200,400]
pd.Series(data = values , index=dtIndex)

2015-01-06    100
2015-05-06    200
2015-02-02    400
dtype: int64

## The pd.to_datetime() method

In [48]:
pd.to_datetime("2001-04-10")
pd.to_datetime(dt.date(2001, 1,1))
pd.to_datetime(dt.datetime(2001, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-01-03", "2014/02/07", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-07', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [50]:
times =pd.Series(["2015-01-03", "2014/02/07", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/07
2              2016
3    July 4th, 1996
dtype: object

In [51]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-07
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [53]:
dates = pd.Series(["July 4th, 1996", "2014/02/07", "Hello", "2015-01-03" ])
dates

0    July 4th, 1996
1        2014/02/07
2             Hello
3        2015-01-03
dtype: object

In [56]:
pd.to_datetime(dates, errors="coerce")

0   1996-07-04
1   2014-02-07
2          NaT
3   2015-01-03
dtype: datetime64[ns]

## Create a range of dates with the pd.date_range() method, part 1

In [58]:
times = pd.date_range(start='2016', end='2018',freq='D')
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26',
               '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30',
               '2017-12-31', '2018-01-01'],
              dtype='datetime64[ns]', length=732, freq='D')

In [60]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [61]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [62]:
pd.date_range(start='2016', end='2018',freq='w-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15', '2016-01-22',
               '2016-01-29', '2016-02-05', '2016-02-12', '2016-02-19',
               '2016-02-26', '2016-03-04',
               ...
               '2017-10-27', '2017-11-03', '2017-11-10', '2017-11-17',
               '2017-11-24', '2017-12-01', '2017-12-08', '2017-12-15',
               '2017-12-22', '2017-12-29'],
              dtype='datetime64[ns]', length=105, freq='W-FRI')

In [63]:
pd.date_range(start='2016', end='2018',freq='M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [64]:
pd.date_range(start='2016', end='2018',freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31'], dtype='datetime64[ns]', freq='A-DEC')

## Create a range of dates with the pd.date_range() method, part 2

In [65]:
pd.date_range(start='2014', periods=25)

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
               '2014-01-05', '2014-01-06', '2014-01-07', '2014-01-08',
               '2014-01-09', '2014-01-10', '2014-01-11', '2014-01-12',
               '2014-01-13', '2014-01-14', '2014-01-15', '2014-01-16',
               '2014-01-17', '2014-01-18', '2014-01-19', '2014-01-20',
               '2014-01-21', '2014-01-22', '2014-01-23', '2014-01-24',
               '2014-01-25'],
              dtype='datetime64[ns]', freq='D')

## Create a range of dates with the pd.date_range() method, part 3

In [69]:
pd.date_range(end = "1999-12-31", periods=40, freq="W")

DatetimeIndex(['1999-03-28', '1999-04-04', '1999-04-11', '1999-04-18',
               '1999-04-25', '1999-05-02', '1999-05-09', '1999-05-16',
               '1999-05-23', '1999-05-30', '1999-06-06', '1999-06-13',
               '1999-06-20', '1999-06-27', '1999-07-04', '1999-07-11',
               '1999-07-18', '1999-07-25', '1999-08-01', '1999-08-08',
               '1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

## The .dt Accessor

In [70]:
bunch_of_dates = pd.date_range(start='2000',end='2016', freq='2D')

In [71]:
a = pd.Series(bunch_of_dates)

In [72]:
a.head()

0   2000-01-01
1   2000-01-03
2   2000-01-05
3   2000-01-07
4   2000-01-09
dtype: datetime64[ns]

In [73]:
a.dt.day

0        1
1        3
2        5
3        7
4        9
        ..
2918    24
2919    26
2920    28
2921    30
2922     1
Length: 2923, dtype: int64

In [74]:
a.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
2918    12
2919    12
2920    12
2921    12
2922     1
Length: 2923, dtype: int64

In [78]:
mask = a.dt.is_quarter_start
a[mask]

0      2000-01-01
91     2000-07-01
137    2000-10-01
183    2001-01-01
228    2001-04-01
456    2002-07-01
502    2002-10-01
548    2003-01-01
593    2003-04-01
776    2004-04-01
1004   2005-07-01
1050   2005-10-01
1096   2006-01-01
1141   2006-04-01
1369   2007-07-01
1415   2007-10-01
1461   2008-01-01
1552   2008-07-01
1598   2008-10-01
1644   2009-01-01
1689   2009-04-01
1917   2010-07-01
1963   2010-10-01
2009   2011-01-01
2054   2011-04-01
2237   2012-04-01
2465   2013-07-01
2511   2013-10-01
2557   2014-01-01
2602   2014-04-01
2830   2015-07-01
2876   2015-10-01
2922   2016-01-01
dtype: datetime64[ns]

In [81]:
pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\admin\anaconda3\lib\site-packages (from pandas-datareader) (1.2.4)
Requirement already satisfied: lxml in c:\users\admin\anaconda3\lib\site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas-datareader) (2.25.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

## Import financial dataset with `pandas_datareader` library

In [82]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [85]:
stocks = data.DataReader(name = "MSFT",data_source="yahoo",start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.438799
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800220
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807911

In [87]:
stocks.values

array([[3.09899998e+01, 3.04799995e+01, 3.09799995e+01, 3.04799995e+01,
        3.19297000e+07, 2.34387989e+01],
       [3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.38002205e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.38079109e+01],
       ...,
       [2.27179993e+02, 2.23580002e+02, 2.26309998e+02, 2.24149994e+02,
        1.74032000e+07, 2.21312592e+02],
       [2.25630005e+02, 2.21470001e+02, 2.25229996e+02, 2.21679993e+02,
        2.02723000e+07, 2.18873840e+02],
       [2.23000000e+02, 2.19679993e+02, 2.21699997e+02, 2.22419998e+02,
        2.09421000e+07, 2.19604492e+02]])

In [88]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [89]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [90]:
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
                '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
                '2020-12-30', '2020-12-31'],
               dtype='datetime64[ns]', name='Date', length=2770, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting rows from a `DataFrame` with a `DateTimeIndex`

In [91]:
stocks = data.DataReader(name = "MSFT",data_source="yahoo",start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.438801
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800230
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807913

In [94]:
stocks.loc['2010-01-04']

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.380023e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [95]:
stocks.iloc[299]

High         2.571000e+01
Low          2.535000e+01
Open         2.562000e+01
Close        2.541000e+01
Volume       6.654950e+07
Adj Close    2.006489e+01
Name: 2011-03-10 00:00:00, dtype: float64

In [96]:
stocks.iloc[-1]

High         2.230000e+02
Low          2.196800e+02
Open         2.217000e+02
Close        2.224200e+02
Volume       2.094210e+07
Adj Close    2.196045e+02
Name: 2020-12-31 00:00:00, dtype: float64

In [97]:
stocks.loc[[pd.Timestamp("2010-04-01"), pd.Timestamp("2010-01-05")]]

                 High        Low   Open      Close      Volume  Adj Close
Date
2010-04-01  29.540001  28.620001  29.35  29.160000  74768100.0  22.528587
2010-01-05  31.100000  30.639999  30.85  30.959999  49749600.0  23.807913

In [100]:
stocks.loc["2013-10-01":"2013-10-07"]
stocks.truncate(before="2013-10-01", after="2013-10-07")

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.452316
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  28.740398
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.689562
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  28.706501
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.215073

In [101]:
stocks.iloc[1000:1005]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-12-20  36.930000  36.189999  36.200001  36.799999  62649100.0  31.417099
2013-12-23  36.889999  36.549999  36.810001  36.619999  25128700.0  31.263418
2013-12-24  37.169998  36.639999  36.720001  37.080002  14243000.0  31.656132
2013-12-26  37.490002  37.169998  37.200001  37.439999  17612800.0  31.963476
2013-12-27  37.619999  37.169998  37.580002  37.290001  14563000.0  31.835419

In [104]:
birthday = pd.date_range(start=1999-24-10, end=2022-20-7, freq=pd.DateOffset(years=1))

In [112]:
birthday_stocks=stocks.index.isin(birthday)

In [113]:
birthday_stocks

array([False, False, False, ..., False, False, False])

## `Timestamp` object attributes and methods

In [114]:
stocks = data.DataReader(name = "MSFT",data_source="yahoo",start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.438795
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800222
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807907

In [116]:
someday = stocks.index[500]
someday

Timestamp('2011-12-23 00:00:00')

In [123]:
someday.month
someday.year
someday.is_month_start
someday.is_month_end
someday.is_quarter_start
someday.is_quarter_end
someday.day

23

In [124]:
someday.month_name()

'December'

In [126]:
stocks.index.day_name()

Index(['Thursday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2770)

In [127]:
stocks.insert(0, "Day of Week", stocks.index.day_name())

In [128]:
stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2009-12-31,Thursday,30.990000,30.480000,30.980000,30.480000,31929700.0,23.438795
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.800222
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,23.807907
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.661802
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.415733
...,...,...,...,...,...,...,...
2020-12-24,Thursday,223.610001,221.199997,221.419998,222.750000,10550600.0,219.930313
2020-12-28,Monday,226.029999,223.020004,224.449997,224.960007,17933500.0,222.112350
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,221.312576
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,218.873840
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20942100.0,219.604492

In [129]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [130]:
stocks

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2009-12-31,Thursday,False,30.990000,30.480000,30.980000,30.480000,31929700.0,23.438795
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,23.800222
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,23.807907
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,23.661802
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.415733
...,...,...,...,...,...,...,...,...
2020-12-24,Thursday,False,223.610001,221.199997,221.419998,222.750000,10550600.0,219.930313
2020-12-28,Monday,False,226.029999,223.020004,224.449997,224.960007,17933500.0,222.112350
2020-12-29,Tuesday,False,227.179993,223.580002,226.309998,224.149994,17403200.0,221.312576
2020-12-30,Wednesday,False,225.630005,221.470001,225.229996,221.679993,20272300.0,218.873840
2020-12-31,Thursday,False,223.000000,219.679993,221.699997,222.419998,20942100.0,219.604492

In [131]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,21.846991
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.420427
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.528589
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.092487
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,17.973820
...,...,...,...,...,...,...,...,...
2020-06-01,Monday,True,183.000000,181.460007,182.539993,182.830002,22622400.0,179.610107
2020-07-01,Wednesday,True,206.350006,201.770004,203.139999,204.699997,32061200.0,201.094940
2020-09-01,Tuesday,True,227.449997,224.429993,225.509995,227.270004,25725500.0,223.807159
2020-10-01,Thursday,True,213.990005,211.320007,213.490005,212.460007,27158400.0,209.222809
2020-12-01,Tuesday,True,217.320007,213.350006,214.509995,216.210007,30904500.0,213.473114

## The `pd.DateOffset` object

In [132]:
stocks = data.DataReader(name = "MSFT",data_source="yahoo",start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.438801
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800220
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807917

In [138]:
# stocks.index =
stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2010-01-10', '2010-01-14', '2010-01-15', '2010-01-16',
               '2010-01-17', '2010-01-18', '2010-01-21', '2010-01-22',
               '2010-01-23', '2010-01-24',
               ...
               '2020-12-27', '2020-12-28', '2020-12-31', '2021-01-01',
               '2021-01-02', '2021-01-03', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [139]:
stocks.index - pd.DateOffset(days = 5)

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [140]:
stocks.index + pd.DateOffset(weeks = 5)

DatetimeIndex(['2010-02-09', '2010-02-13', '2010-02-14', '2010-02-15',
               '2010-02-16', '2010-02-17', '2010-02-20', '2010-02-21',
               '2010-02-22', '2010-02-23',
               ...
               '2021-01-26', '2021-01-27', '2021-01-30', '2021-01-31',
               '2021-02-01', '2021-02-02', '2021-02-06', '2021-02-07',
               '2021-02-08', '2021-02-09'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [141]:
stocks.index - pd.DateOffset(weeks = 5)

DatetimeIndex(['2009-12-01', '2009-12-05', '2009-12-06', '2009-12-07',
               '2009-12-08', '2009-12-09', '2009-12-12', '2009-12-13',
               '2009-12-14', '2009-12-15',
               ...
               '2020-11-17', '2020-11-18', '2020-11-21', '2020-11-22',
               '2020-11-23', '2020-11-24', '2020-11-28', '2020-11-29',
               '2020-11-30', '2020-12-01'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [142]:
stocks.index + pd.DateOffset(months = 5)

DatetimeIndex(['2010-06-05', '2010-06-09', '2010-06-10', '2010-06-11',
               '2010-06-12', '2010-06-13', '2010-06-16', '2010-06-17',
               '2010-06-18', '2010-06-19',
               ...
               '2021-05-22', '2021-05-23', '2021-05-26', '2021-05-27',
               '2021-05-28', '2021-05-29', '2021-06-02', '2021-06-03',
               '2021-06-04', '2021-06-05'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [144]:
stocks.index + pd.DateOffset(years = 1)

stocks.index + pd.DateOffset(years = 1, months=3, days=10, hours=6, minutes=2)

DatetimeIndex(['2011-04-15 06:02:00', '2011-04-19 06:02:00',
               '2011-04-20 06:02:00', '2011-04-21 06:02:00',
               '2011-04-22 06:02:00', '2011-04-23 06:02:00',
               '2011-04-26 06:02:00', '2011-04-27 06:02:00',
               '2011-04-28 06:02:00', '2011-04-29 06:02:00',
               ...
               '2022-04-01 06:02:00', '2022-04-02 06:02:00',
               '2022-04-05 06:02:00', '2022-04-06 06:02:00',
               '2022-04-07 06:02:00', '2022-04-08 06:02:00',
               '2022-04-12 06:02:00', '2022-04-13 06:02:00',
               '2022-04-14 06:02:00', '2022-04-15 06:02:00'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

## Timeseries offsets

In [145]:
stocks = data.DataReader(name = "MSFT",data_source="yahoo",start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.438797
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.800220
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.807915

In [146]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [148]:
stocks.index + pd.tseries.offsets.MonthEnd()
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-11-30', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [149]:
from pandas.tseries import offsets

In [150]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [152]:
stocks.index + offsets.BMonthEnd()
stocks.index - offsets.MonthEnd() # backward

DatetimeIndex(['2009-11-30', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [154]:
stocks.index + offsets.YearEnd()

stocks.index + offsets.YearBegin()

DatetimeIndex(['2010-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

## The `Timedelta` object

In [158]:
timeA = pd.Timestamp("2010-01-31, 04:35:16 PM")
timeB = pd.Timestamp("2010-03-20, 02:15:16 AM")

timeA - timeB

Timedelta('-48 days +14:20:00')

In [159]:
pd.Timedelta(days = 4, weeks = 8, hours = 12)

Timedelta('60 days 12:00:00')

In [160]:
pd.Timedelta("6 hours 12 minutes")

Timedelta('0 days 06:12:00')

## Timedeltas in dataset

In [162]:
shipping = pd.read_csv('ecommerce.csv', index_col='ID', parse_dates=['order_date','delivery_date'])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [163]:
shipping['delivery_time'] = shipping['delivery_date'] - shipping['order_date']

In [164]:
shipping.head()

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [165]:
shipping['Twice As Long'] = shipping['delivery_date'] - shipping['order_date']

In [166]:
shipping.head(3)

   order_date delivery_date delivery_time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days      257 days
2  1992-04-22    1998-03-06     2144 days     2144 days
4  1991-02-10    1992-08-26      563 days      563 days

In [167]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
delivery_time    timedelta64[ns]
Twice As Long    timedelta64[ns]
dtype: object

In [168]:
mask = shipping['delivery_time'] > '256 days'
shipping[mask]

    order_date delivery_date delivery_time Twice As Long
ID
1   1998-05-24    1999-02-05      257 days      257 days
2   1992-04-22    1998-03-06     2144 days     2144 days
4   1991-02-10    1992-08-26      563 days      563 days
5   1992-07-21    1997-11-20     1948 days     1948 days
7   1993-09-02    1998-06-10     1742 days     1742 days
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days      737 days
990 1991-06-24    1996-02-02     1684 days     1684 days
991 1991-09-09    1998-03-30     2394 days     2394 days
993 1990-11-16    1998-04-27     2719 days     2719 days
997 1990-01-04    1991-10-03      637 days      637 days

[421 rows x 4 columns]

In [169]:
shipping['delivery_time'].max()

Timedelta('3583 days 00:00:00')

In [170]:
shipping['delivery_time'].min()

Timedelta('8 days 00:00:00')